{% extends "base.html" %}

{% block title %}OTP{% endblock %}

{% block content %}

<style>
  .form-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
  }
 
  form {
    width: 50%;
    margin: 0 auto;
  }
</style>

<div class="form-container">
  <form method="POST">
    <h3 align="center">Enter OTP</h3>
    <br>
    <div class="form-group">
      <input 
        type="otp" 
        class="form-control" 
        id="otp" 
        name="otp" 
        placeholder="Enter OTP"
      />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Send OTP</button>
  </form>
{% endblock %}